.DS_Store
/vendor
/dist
/local-archive
/.vscode/*.sql
/.vscode/settings.json
/.vscode/launch.json
.idea
debug
.bundle
*.swp
*.swo
*.crt
*.csr
*.key
stellar-etl
env
testdata/got

### Credentials checks
credentials.json
