name: Linting

on:
    push:
        branches:
            - feature/CI-improv

            jobs:
                pre-commit:
                runs-on: ubuntu-latest
                # if: >-
                # github.event.pull_request.merged == false &&
                # github.event.pull_request.state == 'open'
                steps:
                    - name: Checkout code
                      uses: actions/checkout@v2
                      with:
                        fetch-depth: 0  # Fetch all history

                    - name: Set up Go
                      uses: actions/setup-go@v2
                      with:
                        go-version: 1

                    - id: file_changes
                      uses: trilom/file-changes-action@v1.2.3
                      with:
                        output: " "

                    - uses: pre-commit/action@v3.0.0
                      env:
                        extra_args: --color=always --files ${{ steps.file_changes.outputs.files}}
